
<ul>
    <li>
        <a href="/conteudos/pbv"><h3>PG Biotecnologia Vegetal</h3></a>
    </li>
    <li>
        <a href="/conteudos/conselhoCoordenacao"><h3>Conselho de Coordenação</h3></a>
    </li>
    <li>
        <a href="/conteudos/reciclaccs"><h3>Projeto Recicla CCS</h3></a>
    </li>
    <li>
        <a href="/conteudos/arteCultura"><h3>Projeto Arte e Cultura</h3></a>
    </li>
    <li>
        <a href="/busca/1?input-busca-geral=oportunidades%26editais"><h3>Oportunidades e editais</h3></a>
    </li>
    {{!-- <li>
        <a href="/reserva"><h3>Reserva de espaços</h3></a>
    </li> --}}
    <li>
        <a href="/manutencao"><h3>Chamados de manutenção</h3></a>
    </li>
    <li>
        <a href="/faleconosco"><h3>Fale conosco</h3></a>
    </li>
    <li>
        <a href="tel:21-3938-1900"><h3>Segurança</h3></a>
    </li>
</ul>
