<div class="os-oficinas">
    <label for="oficina">
        <p>Oficina:</p>
    </label>
</div>
<div>
    <label for="encarregado"><p>Encarregado:</p></label>
    <input type="text" name="encarregado" id="encarregado" required>
</div>
<div class="os-materiais-container">
    <label for="materiais">
        <p>Materiais:</p>
    </label>
    <div class="btn-manutencao btn-inserir-materiais">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
        <span>inserir material</span>
    </div>
    <div class="os-materiais"></div>
</div>
<div class="os-epi">
    <label for="epi"><p>EPIs:</p></label>
    <input type="text" name="epi" id="epi">
</div>
{{!-- <div>
    <label for="descricao"><p>Descrição do problema:</p></label>
    <textarea name="descricao" id="descricao" required></textarea><br>
</div>
<div>
    <label for="obs"><p>Observações:</p></label>
    <textarea name="obs" id="obs"></textarea><br>
</div> --}}
