{{> header}}
{{> topBarDesktop}}
<main class="alterar-senha-container">
    {{{message}}}
    
    <form method="post" id="formNovaSenha" action="/alterarsenha" class="formulario">
    {{{formulario}}}
        <div>
            <button type="submit">Confirmar</button>
        </div>
    </form>
</main>
{{> footer}}