{{> header}}
{{> topBarDesktop}}
<article class="conteudo deslocar equipe-decania-ccs">
<div class="equipe-header">
<h1>Equipe</h1>
<div>
    <span class="recolher-todos">recolher todos</span>
    <span class="expandir-todos">expandir todos</span>
</div>
</div>
<div class="equipe-corpo">
    <img class="loading equipe" src="/img/loading.svg">
    <div id="div-equipe"></div>
    <div class="button-div">
        <button class="voltar">voltar</button>
    </div>
</div>
</article>
<script src="/dist/scripts/svg.min.js"></script>
<script src="/dist/scripts/conteudos.min.js"></script>
{{> footer}}
