<!--{{> header}}


<section class="noticias">
    <h1>{{noticia.titulo}}</h1>
    <article>
        {{#if noticia.imagem}}
            <div class="img-news-container">
                <img src="{{noticia._id}}.jpg">
            </div>
        {{/if}}
        <p>{{{noticia.texto}}}</p>
    </article>
</section>
{{> footer}}-->
